.logo-header{
    height: 60px;
    float: left !important;
}
.web-title{
    position: relative;
    top: 10px;
    left: 10px;
}
.logo{
    cursor: pointer;
}
body{
    background-color: #06121e !important;
}
@media screen and (min-width: 992px){
    div.dropdown-multicol{
        width: 40em;
    }
    div.dropdown-multicol>div.dropdown-col{
        display:inline-block;
        width: 32%;
    }
}
