* {
  padding: 0;
  margin: 0;
}

html {
  height: 100vh;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.paginate_button.current {
  background-color: #4caf50 !important;
  border-radius: 5px !important;
}

img.zvn-thumb {
  max-width: 100%;
}

.page-header.zvn-page-header {
  padding-top: 40px;
  padding-bottom: 20px;
}

.zvn-page-header-title h3 {
  margin: 0;
}

.zvn-page-header-breadcrumb {
  float: right;
  line-height: 35px;
}

.zvn-page-header-title {
  display: inline-block;
}

.zvn-breadcrumb-title {
  list-style: none;
  margin-bottom: 0px;
}
.zvn-breadcrumb-item {
  float: left;
}
.zvn-breadcrumb-item > a:hover {
  color: #0e90d2;
}
.zvn-breadcrumb-item:first-child:before {
  content: '';
}
.zvn-breadcrumb-item:before {
  display: inline-block;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  color: #636c72;
  content: '/';
}
.zvn-alert > strong {
  font-size: 20px;
}

.zvn-alert {
  color: #ffffff;
}

.zvn-alert button > span {
  color: #281f1f !important;
}

.zvn-box-slt-filter select {
  width: auto;
  display: inline-block;
}

.btn-icon {
  border-radius: 50%;
}
.zvn-pagination {
  margin: auto;
  float: right;
}
.main_menu_side {
  margin-top: 20px;
}

span.highlight {
  background: yellow;
  font-weight: bold;
}

.radio-inline {
  padding-left: 0;
  padding-right: 20px;
}
